<template name="trending">

  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left button-positive" data-ion-modal="search">
      {{> ionIcon icon='ios-search'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-right button-positive" data-ion-modal="newProduct">
      {{> ionIcon icon='ios-plus-empty'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Trending</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <ul class="list">

        <li class="item item-toggle">
           HTML5
           <label class="toggle toggle-assertive">
             <input type="checkbox">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>

      </ul>
    {{/ionContent}}
  {{/ionView}}
  <!--
  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        {{#each products}}
          {{> _productItem product=this path="products.show"}}
        {{/each}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
  //-->

</template>
